body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: green;
    height: 15%;
}

section {
    width: 100%;
    height: 100vh;
}

.sec1 {
    background: url(./pictures/group.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}